@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: .6vw;
}

::-webkit-scrollbar-track {
  background: #d3d3d3;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #777; 
}


body {
  margin: 0;
  background-color: #ececec;
}

a, button {
  transition: 200ms;
}

a:hover {
  color: orange;
}

a:visited {
  color: rgb(181, 152, 212);
}

a:visited:hover {
  color: rgb(140, 118, 163)
}

ul li {
  list-style: inside;
  color: #ececec;
  font-weight: bold;
}